<footer class="mastfoot mt-auto">
        <div class="inner">
          <p><a href="https://www.instagram.com/bridgingpacific"><img src="/images/instagram.png" height="30px"></a></p>
        </div>
      </footer>