
<!doctype html>
<html lang="en">
  <% include head %>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"><img src="/images/bp.jpg" height="75"></h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="about">About</a>
            <a class="nav-link" href="contact">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading" style="color:#a78475">Bridging Pacific.</h1>
        <p class="lead"><img src="/images/watercolor.png" height="85"></p>
        <p class="lead">A nonprofit organization that provides resources and communities for Chinese American immigrants.</p>
        <p class="lead">
        <form action="/signup" method="post">
            <div class="input-group mb-3">
              <input type="email" required name="email" class="form-control" placeholder="Enter your email for important updates" aria-label="Enter your email for important updates" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Sign Up</button>
              </div>
            </div>
        </form>
        </p>
      </main>
      <% include foot %>
    </div>

  </body>
</html>
